<section class="page-section page-top text-center" id="education">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0 section-title">{{'Education.Title' | translate}}</h2>

    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-md-10 mx-auto">
        <ul class="timeline">
          <li *ngFor="let course of ('Education.Courses' | translate)">
            <div class="row section-main text-uppercase">
              <div class="col-md-4 text-left">
                <h5>{{course.Duration}}</h5>
              </div>
              <div class="col-md-8 text-right">
                <h5>{{course.Institution.Name}}</h5>
                <h6>{{course.Institution.City}}</h6>
              </div>
            </div>
            <h6 class="section-text text-uppercase">{{course.Name}}</h6>
            <div class="badge bg-dark text-white text-uppercase mr-2" *ngFor="let tech of course.Technologies">
              {{tech}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>