a{
  color: #bdc6c4;
  border-color: #bdc6c4;
  border-radius: 10%;
  
}

.cfacebook:hover{
  border-color: #3b5998;
  color: #3b5998;
}

.cinstagram:hover{
  border-color: #f77737;
  color: #f77737;
}

.clinkedin:hover{
  border-color: #0e76a8;
  color: #0e76a8;
}

.cgithub:hover{
  border-color: #f6f8fa;
  color: #f6f8fa;
}

.cwhatsapp:hover{
  border-color: #25d366;
  color: #25d366;
}