<footer class="footer">
  <div class="container text-center mb-2">
    <a class="btn btn-link mr-2 cfacebook" href="https://www.facebook.com/david.xvc/"
      target="_blank">
      <i class="fab fa-facebook-f fab-5x" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link mr-2 cinstagram" href="https://www.instagram.com/david_souza.santos/"
      target="_blank">
      <i class="fab fa-instagram fab-5x" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link mr-2 clinkedin" href="https://www.linkedin.com/in/david-souza-dos-santos/"
      target="_blank">
      <i class="fab fa-linkedin fab-5x" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link mr-2 cgithub" href="https://github.com/DavidSouzaSantos"
      target="_blank">
      <i class="fab fa-github fab-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div class="text-center text-muted">
    <p>&copy; {{'AllRightsReserved' | translate}}</p>
  </div>
</footer>