<section class="page-section page-top text-center" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0 section-title">{{'About.Title' | translate}}</h2>

    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="card section-text" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body text-left">
            <div class="h4 mt-0 title text-center">{{'About.AboutMe' | translate}}</div>
            <p class="text-justify">{{'About.AboutText' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 text-left">
          <div class="card-body">
            <div class="h4 mt-0 title text-center">{{'About.BasicInformation' | translate}}</div>
            
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">{{'About.DateBirth.Title' | translate}}:</strong>
              </div>
              <div class="col-sm-8">{{'About.DateBirth.Value' | translate}}</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">{{'About.Email.Title' | translate}}:</strong>
              </div>
              <div class="col-sm-8">{{'About.Email.Value' | translate}}</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">{{'About.MobileNo.Title' | translate}}:</strong>
              </div>
              <div class="col-sm-8">{{'About.MobileNo.Value' | translate}}</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">{{'About.Address.Title' | translate}}:</strong>
              </div>
              <div class="col-sm-8">{{'About.Address.Value' | translate}}</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">{{'About.Language.Title' | translate}}:</strong>
              </div>
              <div class="col-sm-8">{{'About.Language.Value' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>