<section class="page-section page-top text-center" id="experience">
  <div class="container ">
    <h2 class="text-center text-uppercase text-secondary mb-0 section-title">{{'Experience.Title' | translate}}</h2>

    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="card section-text mt-4" data-aos="fade-up" data-aos-offset="10"
      *ngFor="let job of ('Experience.Jobs' | translate)">
      <div class="card-header bg-dark text-white">
        <div class="row">
          <div class="col-lg-4 text-left">
            <h3>{{job.Duration}}</h3>
          </div>
          <div class="col-lg-8 text-right">
            <h3>{{job.Company.Name}}</h3>
            <h5>{{job.Company.City}}</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{job.Employment}}</h3>
        <p class="card-text text-justify">{{job.Description}}</p>
      </div>

    </div>
  </div>
</section>