.project-item {
  position: relative;
}

.project-item-over {
  background: #198075;
  position: absolute;
  z-index: 1000;
  opacity: 0;
}

.project-item-over:hover {
  cursor: pointer;
  opacity: 0.8;
}

button.close{
  color: #fff;
}

.btn-modal{
  margin-top:1.4rem;
}