<section class="page-section page-top text-white text-center bg-main" id="introduction">
  <div class="container d-flex align-items-center flex-column">
    
    <img class="mb-5 rounded-circle" src="assets/img/foto-perfil.jpg" alt="" />
    
    <h1 class="text-uppercase mb-0">David Souza dos Santos</h1>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <h3 class="font-weight-light mb-0">Desenvolvedor .Net Pleno</h3>
  </div>
</section>